.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: var(--link);
  transition: color .5s ease;
}

.footer a:hover .name{
  color:  #48c9e4;
  transition: color .3s ease;
}

.name {
  color: var(--secondary);
  margin-left: .3rem;
  transition: color .5s ease;
}

.lineHidden {
  height: 2px;
  width: 0%;
  background-color: var(--secondary);
  opacity: 0;
  transition: all .5s ease;
}

.lineShow {
  height:2px;
  width: 100%;
  background-color: var(--secondary);
  opacity: 1;
  transition: all .3s ease;
}

@media only screen and (max-width: 555px) {
  
  .main {
   padding: 0rem 1rem;
  }
}
