.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.time {
  font-size: var(--step--1);
  color: var(--accent);
  text-align: left;
  margin: 0px;
}

.itemBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 66%;
}

.header {
  font-size: var(--step-1);
  text-align: left;
  margin: 0rem 0rem 1rem 0rem;
}

.paragraph {
  color: var(--link);
  font-size: var(--step--1);
  text-align: left;
  margin-top: 0px;
}