.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 2rem 0rem;
  border-radius: 8px;
}

.even {
  background-color: rgba(172, 129, 1, 0.04);
}

.time {
  font-size: var(--step--1);
  color: var(--accent);
  text-align: left;
  min-width: max-content;
  margin: 0px 0px 0px 30%;
}

.itemBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  max-width: 66%;
  margin: 0px 26% 0px 10%;
}

.header {
  font-size: var(--step-1);
  text-align: left;
  margin: 0rem 0rem .1rem 0rem;
}

.paragraph {
  color: var(--link);
  font-size: var(--step--1);
  text-align: right;
  margin: 0rem 0rem 0rem 0rem;
}

@media only screen and (max-width: 555px) {
  
  .time {
    margin: 0px 0px 0px 20%;
  }

  .itemBox {
    margin: 0px 18% 0px 10%;
  }
  
}