.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 1px solid var(--accent);
  padding: 1rem;
  animation: pulse 2s infinite ease;
}

.linkChill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem;
}

.link:hover {
  animation-play-state: paused;

}

.svg {
  width: 75px;
  transform: scale(1);
  fill: var(--link);
  transition: fill .5s
}

.svg:hover {
  fill: var(--secondary);
  transition: fill .3s
}

.lineHidden {
  height: 2px;
  width: 0%;
  background-color: var(--accent);
  opacity: 0;
  transition: all .5s ease;
}

.lineShow {
  height:2px;
  width: 100%;
  background-color: var(--accent);
  opacity: 1;
  transition: all .3s ease;
}

@keyframes pulse {
	0% {
    padding: 1.50rem;
		transform: padding ease;
	}

	70% {
    padding: .75rem;
		transform: padding ease;
	}

	100% {
    padding: 1.50rem;
		transform: padding ease; 
	}
}

@media only screen and (max-width: 555px) {
  
  .container {
   width: 100%;
   height: 160px;
  }

  .link {
    margin-top: 1em;
  }
  
}